<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Posts</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Message</th>
        <th>Like</th>
        <th>DisLike</th>
        <th>Image URL</th>
        <th>Created At</th>
        <th>Posted BY</th>
        <th>Liked By</th>
        <th>Disliked By</th>        
    </tr>
    <% postList.results.forEach(function(post) {%>
        <tr><%const likePost = '/posts/'+ post.id + '/like/'
            const dislikePost = '/posts/'+ post.id + '/dislike/' %>
            <td><%= post.id %></td>
            <td><%= post.message %></td>
            <td><form method="post" action=<%= likePost %> ><button type="submit">Like</button></form></td>
            <td><form method="post" action=<%= dislikePost %> ><button type="submit">Dislike</button></form></td>
            <td><img src=<%= post.imageUrl %> alt="This is an image"></td>
            <td><%= post.createdAt %></td>
            <td><%= post.postedBy.name %></td>
            <td><% post.likedBy.forEach(function(postUser) {%> <%= postUser.name %>,<% }); %></td>
            <td><% post.dislikedBy.forEach(function(postUser) {%> <%= postUser.name %>,<% }); %></td>
        </tr>
        <% }); %>
</table>
<%if (postList.next) { %>
    <a href="<%= postList.next %>">Next</a>
<% } %>
<%if (postList.previous) { %>
    <a href="<%= postList.previous %>">Previous</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>

<!-- Write your comments here -->