<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1><%= name %></h1>
<ul>
    <li>ID: <%= id %></li>
    <li>Username: <%= username %></li>
    <li>Email: <%= email %></li>
    <li><img src=<%= profileImageUrl %> alt="This is profile image"></li>
    <li><img src=<%= coverImageUrl %> alt="This is cover image"></li>
</ul>
</body>
<%- include('_footer') -%>
</html>